.formContainer {
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#buttonList{
    background-color: white;
    border: 1px;
    border-radius: 5px;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.list-item {
    opacity: 0;
    transition: all 0.5s ease;
}

/* Hovering the button element makes it black */
#todoButton:hover {
    color: white;
}

#deleteButton {
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#deleteButton:hover{
    color: white;
    background-color: black;
}


#addButton {
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#addButton:hover{
    color: white;
    background-color: black;
}



input {
    /* Stretch the input to take up the whole width of the screen. */
    width: 1000px;
    margin-top: 10px;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    box-sizing: border-box;
}

