.headerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* center */
    align-items: center;
}



#headerText{
    /* style to look really pretty */
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: #1a1a1a;
    margin-top: 20px;
    margin-bottom: 20px;
}

#headerDate{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}